{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/member/profile.css' %}">
{% endblock %}

{% block content %}

<div class="overlay"></div> <!-- 흐림 효과 적용 영역 -->

<a href="/member"><div class="goback">
    <i class="fa-solid fa-chevron-left"></i>
</div></a>

<div class="content">

<!-- 캐릭터 -->
<div class="character_wrap">
    <div class="cha">
        <img class="character" src="{% static 'img/charac/01/01/' %}{{ char.charImageB }}.png"></img>
    </div>
</div>


<div class="wrap fade-in-right">
    <div class="inven">
        <button class="transbtn" onclick="show1grade()">Grade 1</button>
        <!--<button class="transbtn" onclick="showInventory()">인벤토리</button>-->
    </div>

 <!-- 기본정보 -->
 <div class="info_wrap" id="profile-section">
    <div class="info_content">
        <div class="catchphrase">
            [ {{char.charCatchPhrase}} ]
        </div>
        <div class="name_wrap">
            <div class="name_content">
                <p class="name1">
                    {{char.charEngName}}
                </p>
                <p class="name2">
                    {{char.charName}}
                </p>
            </div>
        </div>
        <div class="phrase">
            <p><span>"  </span> {{char.charPhrase}} <span>  "</span></p>
        </div>
        <div class="spec_wrap">
            <div class="spec_content">
                <div class="spec_info_content">
                    <div class="info_line_content">
                        <p>{{char.charSex}} | {{char.charHeight}}cm | {{char.charWeight}}kg | {{char.charNationality}} | {{char.charBlood}}</p>
                    </div>
                </div>
                <!--
                {% if char.charHouse == "후플푸프" %}
                    <img class="houseimgH" src="{% static 'img/' %}{{ char.charHouse }}.png">
                {% else %}
                    <img class="houseimg" src="{% static 'img/' %}{{ char.charHouse }}.png">
                {% endif %}
                 -->
            </div>
        </div>
    </div>

    <div class="button_content">
        <div class="button_wrap">
            <button class="infobtn" onclick="showProfile()">기본 정보</button>
            {% if char.charCommission  or char.charImageInfo %}
            <button class="infobtn" onclick="showImgInfo()">외관</button>
            {% endif %}
            <button class="infobtn" onclick="showEtc()">상세 정보</button>
            <button class="infobtn" onclick="showWand()">지팡이</button>
        </div>
    </div>

    <div class="personality_content" id="personality_section">
        <div class="personality_wrap">
            <div class="keywords">
                <button class="keywordbtn">{{char.charKeyword1}}</button>
                <button class="keywordbtn">{{char.charKeyword2}}</button>
                <button class="keywordbtn">{{char.charKeyword3}}</button>
            </div>
            <hr/>
            <div class="info_scrollbox">
                {{char.charPersonality|linebreaksbr|safe}}
            </div>
            <hr/>
        </div>
    </div>

    <div class="imgInfo_content hidden" id="imgInfo_section">
        <div class="personality_wrap">
            {% if char.charCommission %}
            <div class="imgInfo_header">
                <button class="keywordbtn">ⓒ {{char.charCommissionInfo}}</button>
            </div>
            <hr/>
            <div class="info_scrollbox">
                {{char.charImageInfo|linebreaksbr|safe}}
            </div>
            <hr/>
            {% else %}
            <hr class="mod"/>
            <div class="info_scrollbox2">
                {{char.charImageInfo|linebreaksbr|safe}}
            </div>
            <hr/>
            {% endif %}
        </div>
    </div>

    <div class="etc_content hidden" id="etc_section">
        <div class="personality_wrap">
            <div class="imgInfo_header">
            </div>
            <hr/>
            <div class="info_scrollbox2">
                {{char.charEtc|linebreaksbr|safe}}
            </div>
            <hr/>
        </div>
    </div>

    <div class="wand_content hidden" id="wand_section">
        <div class="personality_wrap">
            <div class="keywords">
                <button class="keywordbtn">{{char.charWand1}}</button>
                <button class="keywordbtn">{{char.charWand2}}</button>
                <button class="keywordbtn">{{char.charWand3}}"</button>
                <button class="keywordbtn">{{char.charWand4}}</button>
            </div>
            <hr/>
            <div class="info_scrollbox">
                {% if char.charWandInfo %}
                {{char.charWandInfo|linebreaksbr|safe}}
                {% elif char.charFirstName == "Patch" %}
                <img src={% static "img/패치포트리스.png" %}>
                {% else %}
                {% endif %}
            </div>
            <hr/>
        </div>
    </div>

</div>


 <!-- 인벤토리 -->
 <div class="inventory_wrap hidden" id="inventory-section">
    <div class="inven_banner">
        <img src={% static "img/인벤토리 배너.png" %}>
    </div>
     <!--
    <div class="recipe_box">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                {% for i in pages_items %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for items in pages_items %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="item_wrap">
                            {% for item in items %}
                                <div class="item">
                                    <p class="item_count">x{{item.itemCount}}</p>
                                    <img src="{% static 'img/test_item/' %}{{ item.itemInfo.itemName }}.png">
                                    <div class="item_description">
                                        <p>{{ item.itemInfo.itemName }}</p>
                                        <p class="category">{{ item.itemInfo.itemCategory }}</p>
                                        <p class="item_info">{{ item.itemInfo.itemInfo }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </div>

    {% for item in inven %}
        {{item.itemInfo.itemName}}
        {{item.itemCount}}
    {% endfor %}
    -->
</div>

</div>



<script>

    document.addEventListener('DOMContentLoaded', () => {

        const audio = document.getElementById('background-music'); //bgm
        const audio2 = document.getElementById('profile-music'); //profile bgm
        const playPauseButton = document.getElementById('play-pause-button');
        const playPauseButton2 = document.getElementById('play-pause-button2');
        const volumeSlider2 = document.getElementById('volume-slider2');

        let isPlaying = false; // 음악 재생 상태를 추적
        let isPlaying2 = false; // 음악 재생 상태를 추적

        // 재생/일시 정지 버튼 클릭 이벤트
        playPauseButton2.addEventListener('click', () => {
            if (audio2.paused) {
                audio.pause();
                audio2.play();
                isPlaying2 = true;
                playPauseButton2.textContent = 'Pause';
                playPauseButton.textContent = 'Play';
            } else {
                audio2.pause();
                isPlaying2 = false;
                playPauseButton2.textContent = 'Play';
            }
        });

        // 음량 슬라이더 이벤트
        volumeSlider2.addEventListener('input', () => {
            if (isPlaying2) {
                audio2.volume = volumeSlider2.value;
            }
        });

    });
    document.addEventListener('DOMContentLoaded', () => {
        const wrapElement = document.querySelector('.wrap');
        wrapElement.classList.add('fade-in-right');
    });
    function showImgInfo() {
        document.getElementById('imgInfo_section').classList.remove('hidden');
        document.getElementById('personality_section').classList.add('hidden');
        document.getElementById('etc_section').classList.add('hidden');
        document.getElementById('wand_section').classList.add('hidden');
    }

    function showProfile() {
        document.getElementById('imgInfo_section').classList.add('hidden');
        document.getElementById('personality_section').classList.remove('hidden');
        document.getElementById('etc_section').classList.add('hidden');
        document.getElementById('wand_section').classList.add('hidden');
    }

    function showEtc() {
        document.getElementById('imgInfo_section').classList.add('hidden');
        document.getElementById('personality_section').classList.add('hidden');
        document.getElementById('etc_section').classList.remove('hidden');
        document.getElementById('wand_section').classList.add('hidden');
    }

    function showWand() {
        document.getElementById('imgInfo_section').classList.add('hidden');
        document.getElementById('personality_section').classList.add('hidden');
        document.getElementById('etc_section').classList.add('hidden');
        document.getElementById('wand_section').classList.remove('hidden');
    }

    function show1grade() {
        document.getElementById('profile-section').classList.remove('hidden');
        document.getElementById('inventory-section').classList.add('hidden');
    }
    function showInventory() {
        document.getElementById('profile-section').classList.add('hidden');
        document.getElementById('inventory-section').classList.remove('hidden');
    }


</script>

{% endblock %}