* {
  cursor: url('../../cur/Sapphire_Normal.cur') 2 2, auto;
}

html, body {
  height: 100vh; /* 전체 높이 설정 */
  margin: 0; /* 기본 마진 제거 */
  position: relative;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../../img/bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2; /* 다른 콘텐츠 아래로 배치 */
}

.snowflake {
  position: absolute;
  width: 7px;
  height: 7px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
  animation: fall linear infinite;
  /* 초기 위치 설정 */
  top: -10px; /* 화면 위쪽 바깥에서 시작 */
}

@keyframes fall {
  to {
      transform: translateY(100vh); /* 화면 전체 높이만큼 떨어지게 설정 */
  }
}

body {
  font-family: 'Noto Sans KR';
  font-weight:300;
}