#gm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 910px;
    height: 759px;
    background: url("../../img/gift_modal.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    user-select: none;
    filter: drop-shadow(8px 8px 8px #232425);
}

#giftForm {
    width: 910px;
    height: 759px;
    user-select: none;
}

.quantity-spinner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adjust this to control spacing between buttons and input */
}

/* 수량 칸 */
.quantity-spinner2 input {
    width: 150px;
    height: 37px;
    background-color: #f7ebdb;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: rgb(50, 53, 78);
    font-size: 20px;
    font-weight: bold;
}

/* +- 버튼 */
.quantity-spinner2 button {
    background-color: #938980;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 구매버튼 */
#liveToastBtn2 {
    width: 75px;
    height: 37px;
    background-color: #f7ebdb;
    border: none;
    border-radius: 5px;
    color: rgb(50, 53, 78);
    font-size: 17px;
    margin-left: 20px;
}

.lastline2 {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.priceline2 {
    display: flex;
}


#modalTitle2, #modalTitleEng2 {
    width: 100%; /* Make sure the titles take up the full width of their container */
    margin: 0 auto; /* Centering the titles */
    text-align: center;
    color: #B0B8CB;
}

#modalTitle2 {
    margin-top: 20px;
    font-size: 30px;
    font-family: "Hahmlet", serif;
}

#modalTitleEng2 {
    font-size: 55px;
    font-family: "Oleo Script", system-ui;
    font-style: normal;
    margin-top: -5px;
}

.priceline2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3d352c;
    font-family: "Arima", system-ui;
    width: 270px;
    height: 65px;
    background-image: url("../../img/가격띠.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.priceline2 h5 {
    font-size: 32px;
    font-weight: 700;
    margin: 0px 0px 9px; /* Removes any default margin that may be affecting alignment */
}
