.content_wrap {
    background: url("../../img/giftbox_content.png");
    width: 1500px;   
    height: 860px;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    font-family: "Hahmlet", serif;
}

.content_box {
    margin-top: 100px;
    margin-left: 15px;
    width: 80%;
    height: 760px; 
    overflow-y: auto;
    position: relative;
}

.content_box::-webkit-scrollbar {
    display: none;
}

.postbox {
    margin: 40px 0px;
    width: 100%;
    display: flex;
    color: #dbdbdb;
    justify-content: space-between;
}

.postbox_content {
    background-color: rgba(36, 40, 51, 0.7);
    padding: 40px 30px;
    width: 75%;
    border-radius: 10px;
}

.postbox_result {
    width: 22%;
    height: 100%;
    background-color: aquamarine;
}

.post_profile {
    display: flex;
    margin-top: 20px;
}

.post_profile img {
    width: 70px;
    height: 70px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
}

.user_info p {
    margin: none;
}

.post_content {
    padding: 20px;
    background-color: antiquewhite;
    margin-top: 20px;
}