* {
  cursor: url('../cur/Sapphire_Normal.cur') 2 2, auto;
}

html, body {
  height: 100%; /* 전체 높이 설정 */
  margin: 0; /* 기본 마진 제거 */
  position: relative; /* 자식 요소의 절대 위치를 위한 기준 설정 */
  overflow: hidden; /* 스크롤바 제거 */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -2; /* 네비게이션 바와 다른 콘텐츠 아래로 배치 */
}

.snowflake {
  position: absolute;
  width: 7px;
  height: 7px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
  animation: fall linear infinite;
  /* 초기 위치 설정 */
  top: -10px; /* 화면 위쪽 바깥에서 시작 */
}

@keyframes fall {
  to {
      transform: translateY(100vh); /* 화면 전체 높이만큼 떨어지게 설정 */
  }
}

#background-music {
  display: none;
}

.audio-controls {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 5; /* 다른 콘텐츠 위로 배치 */
  background: rgba(48, 47, 53, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.audio-controls button {
  background: #333;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.audio-controls input[type="range"] {
  margin-left: 10px;
  width: 150px;
}

body {
  font-family: 'Noto Sans KR';
  font-weight:300;
}