.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px); /* 흐림 효과 적용 */
    z-index: -1; /* 배경 위에 표시되도록 설정 */
}

.content {
    display: flex;
}

.character_wrap {
    width: 1140px;
    height: 100vh;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    position: relative; /* 버튼의 절대 위치를 위한 기준 설정 */
}

.transbtn {
    background: url("../../img/프로필띠.png");
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    width: 125px;
    height: 37px;
    font-family: "Hahmlet", serif;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 3px;
    color: #dbdbdb;
}

.character {
    height: 140vh;
}


.wrap {
    width: 905px;
    height: 100vh;
    display: flex;
    position: relative;
    position: fixed;
    right: 0;
}


.inven {
    position: absolute; 
    top: 30px; /* 상단에서의 거리 */
    left: 0px; /* 오른쪽에서의 거리 */
    z-index: 1; /* 다른 콘텐츠 위로 배치 */
    display: flex;
    flex-direction: column; /* 버튼을 수직으로 나열 */
    gap: 10px; /* 버튼 간의 간격 */
}


.info_wrap {
    width: 780px;
    height: 100vh;
    background: url("../../img/프로필_오른박스.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px 13px rgba(0, 0, 0, 0.2);
    justify-content: center; 
    position: fixed;
    right: 0;
    font-family: "Hahmlet", serif;
    z-index: 2;
}

.inventory_wrap {
    width: 780px;
    height: 100vh;
    background: url("../../img/프로필_오른박스.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px 13px rgba(0, 0, 0, 0.2);
    justify-content: center; 
    position: fixed;
    right: 0;
    font-family: "Hahmlet", serif;
    z-index: 2;
}


.cha {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
}


/* 숨긴 상태의 섹션 */
.hidden {
    display: none !important;
}

/* 기본정보 */
.info_content {
    height: 37vh;
}

.catchphrase {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

.name_wrap {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.name_content {
    width: 447px;
    height: 110px;
    background: url("../../img/이름띠.png");
    background-repeat: no-repeat;
}

/* 영어이름 */
.name1 {
    text-align: center;
    height: 96px;
    line-height: 96px;
    margin: 0px;
    font-size: 35px;
    font-weight: bold;
    font-family: "Arima", system-ui;
    color: #2e325e;
}
/* 한국이름 */
.name2 {
    height: 24px;
    margin: -12px 40px 0px 0px;
    line-height: 24px;
    text-align: right;

}

.phrase {
    height: 65px;
    line-height: 90px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.phrase p {
    margin: 0px;
}

.phrase p span {
    font-size: 30px;
}

.spec_wrap {
    display: flex;
    justify-content: center;
    height: 125px;
}

.spec_content {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.spec_info_content {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_line_content {
    width: 100%;
    height: 45px;
    border-radius: 7px;
    background-image: linear-gradient(to left, transparent, rgb(75, 83, 112) 20%)
}

.info_line_content p {
    line-height: 45px;
    color: white;
    margin: 0px 0px 0px 30px;
}

.icon_content img {
    width: 120px;
}

/* 버튼정보 */
.button_content {
    height: 3vh;
}

.button_wrap {
    text-align: right;
    margin: 10px 30px 0px 0px;
}

/* 프로필 버튼들 */
.infobtn {
    width: 85px;
    height: 30px;
    padding-bottom: 10px;
    margin: 0px 5px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(162, 162, 162);
    color: rgb(44, 52, 73);
}

.infobtn:hover {
    transition-duration: 0.3s;
    color: rgb(125, 149, 170);
    border-bottom: 2px solid rgb(44, 52, 73);

}






/* 성격란 */
.personality_content {
    height: 55vh;
    display: flex;
    justify-content: center;
}

.personality_wrap {
    width: 90%;
}

.keywords {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
}

.keywordbtn {
    background-color: transparent;
    padding: 3px 15px;
    margin: 0px 5px;
    border: solid 3px #31395b;
    border-radius: 18px;
}

hr {
    width: 100%;
    height: 3px !important;
    border: none;
    background-image: linear-gradient(to right, rgba(17, 29, 56, 0.2) 0%, rgba(17, 29, 56, 1) 50%, rgba(17, 29, 56, 0.2) 100%);
}

::selection {
    background-color: #9FA3B1; /* 하늘색 배경 */
    color: #eeeeee; /* 선택된 텍스트의 색상을 검정으로 설정 */
}



.info_scrollbox {
    width: 100%;
    height: 73%;
    font-size: large;
    overflow-y: auto;
    padding: 0px 10px;
}

.info_scrollbox::-webkit-scrollbar {
    width: 12px;
}
.info_scrollbox::-webkit-scrollbar-thumb {
    background-color: rgb(186, 189, 197,0.7);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.info_scrollbox::-webkit-scrollbar-track {
    background-color: #434c72;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.info_scrollbox2 {
    width: 100%;
    height: 82%;
    font-size: large;
    overflow-y: auto;
    padding: 0px 10px;
}

.info_scrollbox2::-webkit-scrollbar {
    width: 12px;
}
.info_scrollbox2::-webkit-scrollbar-thumb {
    background-color: rgb(186, 189, 197,0.7);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.info_scrollbox2::-webkit-scrollbar-track {
    background-color: #434c72;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}





/* 외관란 */
.imgInfo_content {
    height: 55vh;
    display: flex;
    justify-content: center;
}

.imgInfo_header {
    text-align: right;
    margin-top: 35px;
    margin-bottom: 15px;
}

.keywordbtn {
    background-color: transparent;
    padding: 3px 15px;
    margin: 0px 5px;
    border: solid 3px #31395b;
    border-radius: 18px;
}






/* 기타란 */
.etc_content {
    height: 55vh;
    display: flex;
    justify-content: center;
}


/* 지팡이란 */
.wand_content {
    height: 55vh;
    display: flex;
    justify-content: center;
}



.inven_banner {
    position: absolute;
    top: 8%;
    left: 50%;
    width: 700px;
    transform: translate(-50%,-50%);
} .inven_banner img {
    width: 100%;
}