{% extends "notice_base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/system.css' %}">

{% endblock %}

{% block content %}

<div class="goback">
    <a href="/"><i class="fa-solid fa-chevron-left"></i></a>
</div>
<div class="notice_wrap">
    <a href="/system/total"><img src={% static "img/totalsystem.png" %}></a>
    <a href="#"><span onclick="alert('합격자 발표 이후 공개됩니다.')"><img src={% static "img/homepageguide.png" %}></span></a>
</div>

{% endblock %}
